DEBUG=False
SECRET_KEY=replace-with-output-of-python-c-"import secrets; print(secrets.token_hex(50))"
ALLOWED_HOSTS=steblik.com,www.steblik.com
CSRF_TRUSTED_ORIGINS=https://steblik.com,https://www.steblik.com
DATABASE_NAME=/app/data/db.sqlite3
